---
import "../styles/markdown.css";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

const frontmatter = Astro.props.frontmatter as CollectionEntry<"posts">["data"];
---

<BaseLayout title={frontmatter.title}>
  <div class="text-lg text-cGray">
    {frontmatter.pubDate.toDateString().slice(4)}
  </div>
  <h1 class="mt-4">{frontmatter.title}</h1>
  {
    frontmatter.cover && (
      <div>
        <Image
          src={frontmatter.cover.image}
          alt={frontmatter.cover.alt}
          width="650"
          format="avif"
          class="mb-4 h-[30vh] max-h-[300px] object-cover object-left-bottom p-1"
        />
      </div>
    )
  }
  <slot />
</BaseLayout>
