---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---
<MainLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
  <p>Written by {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</MainLayout>
